.card-list {
  column-count: 3;
  margin: 2rem;
}

.card {
  display: inline-block;
  margin-bottom: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  border-radius: 10px;
}

.card:hover {
  box-shadow: 0 3px 6px rgb(0 0 0 / 50%);
}

.card--image {
  flex: 100%;
  border-radius: 10px 10px 0 0;
}

.card--footer {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 10px;
}

.media--obj {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #d8d8d8;
}

.media--body {
  font-family: Courier, serif;
  font-size: 15px;
  color: #999;
  margin-left: 10px;
}

@media only screen and (max-width: 600px) {
  .card-list {
    column-count: 1;
  }
}

@media only screen and (max-width: 900px) {
  .card-list {
    column-count: 2;
  }
}